body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

div.container {
  background: rgb(119 97 160 / 30%);
  padding: 20px;
  border-radius: 20px;
  margin-top: 60px;
  color: white;
}

div.checkboxes {
  background-color: #5f0d5f;
  padding: 30px;
  border-radius: 20px;
  position: relative;
}

label,
select {
  cursor: pointer;
}

h5 {
  position: absolute;
  bottom: 0;
  right: 10px;
}

ul {
  padding-left: 0;
}

ul li {
  position: relative;
  height: 50px;
}

ul li button {
  position: absolute;
  right: 0;
}
